/**
 * Base
 */

body, html {
  // this makes the sticky footer work
  height: 100%;
  font: 18px/1.4 "Source Sans Pro", monospace, sans-serif;
}

body {
  @extend .sans;

  // Prevent horizontal scrolling
  width: 100%;
  overflow-x: hidden;
}
