/**
 * Colors
 */

$white: #fff;
$black: #000;

$lighter-gray: #BDC1C0;
$light-gray: #777C7B;
$gray: #858b8a;

$charcoal: #0d1312;
$darker-clay: #b4b195;

$light-mint: #d9f9f1;
$mint: #50e3c2;
$dark-mint: #0EAD8E;
$green: $dark-mint;

$blue: #2973b7;
$background: #F8F8F8;
$orange: #e96900;

$colorPalette: (
  "white": $white,
  "black": $black,
);

@each $name, $color in $colorPalette {
  .color-#{$name} {
    color: $color;
  }

  .bg-#{$name} {
    background-color: $color;
  }
}
