<!DOCTYPE html>
<html lang="en">
  <head>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500" rel="stylesheet">

    {% include "styles.njk" %}
  </head>

  <body>
    <main aria-label="Main Content">
      {{ content | safe }}
    </main>

    {% include "scripts.njk" %}
  </body>
</html>
